<table class="table">
    <thead>
        <tr>
            <th>Format</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>moment().calendar()</td>
            <td>{{momentCal1}}</td>
        </tr>
        <tr>
            <td>moment().subtract(10, 'days').calendar()</td>
            <td>{{momentCal2}}</td>
        </tr>
        <tr>
            <td>moment().subtract(6, 'days').calendar()</td>
            <td>{{momentCal3}}</td>
        </tr>
        <tr>
            <td>moment().subtract(1, 'days').calendar()</td>
            <td>{{momentCal4}}</td>
        </tr>
        <tr>
            <td>moment().add(1, 'days').calendar()</td>
            <td>{{momentCal5}}</td>
        </tr>
        <tr>
            <td>moment().add(6, 'days').calendar()</td>
            <td>{{momentCal6}}</td>
        </tr>
        <tr>
            <td>moment().add(10, 'days').calendar()</td>
            <td>{{momentCal7}}</td>
        </tr>
    </tbody>
</table>

