<table class="table">
    <thead>
        <tr>
            <th>Format</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>moment()</td>
            <td>{{momentNow1}}</td>
        </tr>
        <tr>
            <td>moment().format()</td>
            <td>{{momentNow2}}</td>
        </tr>
        <tr>
            <td>moment().format('MMMM Do YYYY, h:mm:ss a')</td>
            <td>{{momentNow3}}</td>
        </tr>
        <tr>
            <td>moment().format('dddd')</td>
            <td>{{momentNow4}}</td>
        </tr>
        <tr>
            <td>moment().format('MMMM')</td>
            <td>{{momentNow5}}</td>
        </tr>
        <tr>
            <td>moment().format('YYYY')</td>
            <td>{{momentNow6}}</td>
        </tr>
        <tr>
            <td>moment().format('MM Do YY')</td>
            <td>{{momentNow7}}</td>
        </tr>
    </tbody>
</table>

