<table class="table">
    <thead>
        <tr>
            <th>Format</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>moment.duration(1, "minutes").humanize()</td>
            <td>{{momentHum1}}</td>
        </tr>
        <tr>
            <td>moment.duration(2, "minutes").humanize()</td>
            <td>{{momentHum2}}</td>
        </tr>
        <tr>
            <td>moment.duration(24, "hours").humanize()</td>
            <td>{{momentHum3}}</td>
        </tr>
        <tr>
            <td>moment.duration(7, "days").humanize()</td>
            <td>{{momentHum4}}</td>
        </tr>
        <tr>
            <td>moment.duration(1, "minutes").humanize(true)</td>
            <td>{{momentHum5}}</td>
        </tr>
        <tr>
            <td>moment.duration(-1, "minutes").humanize(true)</td>
            <td>{{momentHum6}}</td>
        </tr>
    </tbody>
</table>

