<table class="table">
    <thead>
        <tr>
            <th>Format</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>moment().format('L')</td>
            <td>{{momentLoc1}}</td>
        </tr>
        <tr>
            <td>moment().format('l')</td>
            <td>{{momentLoc2}}</td>
        </tr>
        <tr>
            <td>moment().format('LL')</td>
            <td>{{momentLoc3}}</td>
        </tr>
        <tr>
            <td>moment().format('ll')</td>
            <td>{{momentLoc4}}</td>
        </tr>
        <tr>
            <td>moment().format('LLL')</td>
            <td>{{momentLoc5}}</td>
        </tr>
        <tr>
            <td>moment().format('lll')</td>
            <td>{{momentLoc6}}</td>
        </tr>
        <tr>
            <td>moment().format('LLLL')</td>
            <td>{{momentLoc7}}</td>
        </tr>
        <tr>
            <td>moment().format('llll')</td>
            <td>{{momentLoc8}}</td>
        </tr>
    </tbody>
</table>

<a ng-click="changeLocale('en')" class="btn btn-primary">English</a>
<a ng-click="changeLocale('fr')" class="btn btn-success">French</a>

