<table class="table">
    <thead>
        <tr>
            <th>Format</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>moment().subtract(5, 'hours').twitterLong()</td>
            <td>{{momentTwi1}}</td>
        </tr>
        <tr>
            <td>moment().subtract(5, 'minutes').twitterLong()</td>
            <td>{{momentTwi2}}</td>
        </tr>
        <tr>
            <td>moment().subtract(5, 'seconds').twitterLong()</td>
            <td>{{momentTwi3}}</td>
        </tr>
        <tr>
            <td>moment().subtract(1, 'hours').twitterLong()</td>
            <td>{{momentTwi4}}</td>
        </tr>
        <tr>
            <td>moment().subtract(5, 'hours').twitterShort()</td>
            <td>{{momentTwi5}}</td>
        </tr>
        <tr>
            <td>moment().subtract(3, 'days').twitterShort()</td>
            <td>{{momentTwi6}}</td>
        </tr>
    </tbody>
</table>

