<div class="row">
    <h2>Validate by Parsing</h2>
    <hr />
</div>
<div class="row ">
    <p>
        var Date1 = moment('21/06/2015', 'D/M/YYYY');
        <br />
        var date1msg = Date1.format('MMMM D, YYYY');
    </p>
    <input type="text" ng-model="date1" />
    <span ng-bind="date1msg"></span>
</div>
<hr/>
<div class="row ">
    <p>
        var Date2 = moment('1/14/2014', 'D/M/YYYY');
        <br />
        var date2msg = Date2.format('MMMM D, YYYY'); // will throw error here
    </p>
    <input type="text" ng-model="date2" />
    <span ng-bind="date2msg" class="alert-danger"></span>
</div>
<hr/>

<div class="row">
    <h2>Validate using isValid()</h2>
    <hr />
</div>
<div class="row">
    <p> Date 1 is valid: <span ng-bind="date1_isvalid_msg"></span></p>    
    <p> Date 2 is valid: <span ng-bind="date2_isvalid_msg"></span></p>
    <p>E.g: moment('1/14/2014', 'YYYY-MM-DD').isValid();</p>
</div>
